<div class="alerts">
  <div class="header">
    <h2>Alertas</h2>
    <p>Últimos 5 dias</p>
  </div>

  <div class="content">
    <ul>
      <li>
        <p>23 Notas Canceladas</p>
      </li>
      <li>
        <p>13 Notas Canceladas</p>
        <div class="select">
          <select name="" id="">
            <option value="" selected>Ações</option>
          </select>
          <img class="arrows" src="{{ arrows }}" alt="">
        </div>
      </li>
      <li class="borderless">
        <p>7 Assinaturas Digitais</p>
        <div class="select">
            <select name="" id="">
              <option value="" selected>Ações</option>
            </select>
            <img class="arrows" src="{{ arrows }}" alt="">
        </div>
      </li>
    </ul>
  </div>
</div>