@import '../../../styles/_variables.scss';
@font-face {
  font-family: 'OpenSans';
  src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

.header-container {
  background-color: white;
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  top: -5px;
  left: 2px;

  font-size: 12px;

  img {
    width: 165px;
    height: 70px;
  }

  .right-content {
    width: 65%;

    display: flex;
    justify-content: space-between;

    padding-top: 25px; 

    p {
      font-size: 14px;
      padding-top: 2px;
    }

    .select {
      border: 1px solid $lightBlue2;
      border-radius: 0px;

      position: relative;
      top: -12px;

      background-color: white;
      padding: 10px;

      font-size: 13px;
      font-family: 'OpenSans', sans-serif;
      color: lightslategray;

      .arrows {
        height: 20px;
        width: 20px;

        position: relative;
        top: 2px;
      }

      select {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        padding: 10px;
        position: relative;
        top: -5px;
        font-size: 12px;

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      select::-ms-expand {
        display: none;
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .user-header {
      width: 45%;
      display: flex;
      position: relative;
      top: -12px;
      text-align: center;
      right: 10px;

      .user {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        background-color: $navyBlue1;
        color: white;

        padding-top: 12px;

        p {
          padding-top: 2px;
        }

        img {
          width: 20px;
          height: 20px;
        }

        .arrows {
          height: 20px;
          width: 20px;

          position: relative;
          top: 2px;
        }
      }

      .notification {
        width: 30%;
        background-color: $lightBlue2;

        padding-top: 12px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}