@import '../../../styles/_variables.scss';

.sidenav-container {
  width: 100%;
  height: 100%;
  border-right: 2px solid $grey1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
  left: 0;
  top: 0;

  .sidenav-searchbar {
    height: 70px;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    img {
      width: 30px;
      height: 30px;
      position: relative;
      top: 20px;
    }

    input {
      border: none;
      font-size: 14px;
      padding: 15px;

      text-align: right;

      &:focus {
        outline: none;
      }
    }
  }

  .sidenav-links {
    background-color: $navyBlue1;
    height: 100%;

    ul {
      box-sizing: border-box;
      list-style: none;
      
      li {
        width: 91%;
        position: relative;
        right: 10px;

        padding: 15px;
        border-bottom: 2px solid $lightBlue1;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        &:hover {
          cursor: pointer;
          font-weight: bolder;
        }

        a {
          color: white;
          text-decoration: none;
          padding-top: 7px;
        }

        img {
          width: 30px;
          height: 30px;
        }

        .selected-view {
          width: 20px;
          height: 20px;
          background-color: $grey2;
          border-left: 2px solid $grey1;
          border-bottom: 2px solid $grey1;
          transform: rotate(45deg);

          position: relative;
          left: 27px;
          top: 5px
        }

        .hidden {
          visibility: hidden
        }
      }
    }
  }
}