<div class="dashboard-management">
    <app-breadcrumb></app-breadcrumb>
    <div class="management-header">
        <div class="title">
            <img class="globe-icon" src="{{ logo }}" alt="globe">
            <h1>Painel de Gestão</h1>
        </div>

        <div class="products">
          <p>Produto: </p>
          <div class="select">
              <select name="" id="">
                  <option value="" selected>Todos</option>
              </select>
              <img class="arrows" src="{{ arrows }}" alt="">
          </div>
        </div>
    </div>

    <div class="dashboard-content">
        <app-shortcuts></app-shortcuts>
        <app-alerts></app-alerts>
    </div>
</div>
